$back-color: #a28c74

html
  box-sizing: border-box
  scroll-behavior: smooth
  font-family: 'Montserrat', sans-serif
  font-size: 14px

*, *:before, *:after
  box-sizing: inherit

body
  background-color: $back-color
