$low-res: 420px
$back-color: #c8c0b3
$item-min-display-width: 300px  // 400px
$item-max-display-width: 600px  // 600px
$item-display-border-width: 2px
$item-header-color: #e4dbd2
$item-header-background: #17120e // #553b28 //#4c4b49

html
  box-sizing: border-box
  scroll-behavior: smooth
  font-family: 'Montserrat', sans-serif
  font-size: 12px

*, *:before, *:after
  box-sizing: inherit

body
  background-color: $back-color

header
  font-family: 'Courgette', cursive
  display: flex
  flex-flow: column
  align-items: center
  width: 80%
  margin: 0 auto

  .title
    display: inline-flex
    flex-flow: column
    margin: 0 auto

  h1
    font-size: 5rem
    text-align: center
    margin-bottom: 0
    line-height: 1em

  h2
    color: #7c5a3d
    font-size: 2.5rem
    text-align: right
    padding: 0
    margin: -1rem 1rem 3rem

  p
    font-family: 'Courgette', cursive
    font-size: 1.5rem
    margin: 1rem auto

.item-family
  display: flex
  flex-direction: column

  h2
    font-family: 'Courgette', cursive
    font-size: 3rem
    text-align: center

  .items-counter
    display: flex
    flex-wrap: wrap
    justify-content: center

  .item-display
    min-width: $item-min-display-width
    max-width: $item-max-display-width
    padding: 0 1rem 1rem
    margin: 2.5rem 2rem
    background-color: white
    border-radius: 3 * $item-display-border-width
    box-shadow: 10px 10px 19px -4px rgba(0,0,0,1.0);
    // border-top: solid $item-display-border-width rgba(0,0,0,0.15)
    // border-left: solid $item-display-border-width rgba(0,0,0,0.15)
    // border-right: solid $item-display-border-width rgba(0,0,0,0.75)
    // border-bottom: solid $item-display-border-width rgba(0,0,0,0.75)

    h3
      font-size: 1.5rem
      color: $item-header-color
      background-color: $item-header-background
      width: 60%
      margin: -1rem 1rem 1rem -1.7rem
      padding: 3px 5px
      border-radius: 5px

    figure
      float: left
      width: $item-max-display-width / 3
      margin: 0 1rem 0.4rem 0

      figcaption
        font-size: .75em
        font-weight: bold
        font-style: italic

      img
        width: $item-max-display-width / 3

      @media only screen and (max-width: $low-res)
        float: none
        width: 100%

        img
          width: 100%

footer
  font-size: 1.3rem
  font-weight: bold
  font-variant: small-caps
  text-align: center
  margin: 2rem 0

  &::before
    content: '©'
    font-size: 1.2em
