@charset "UTF-8";
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #c8c0b3;
}

header {
  font-family: 'Courgette', cursive;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 80%;
  margin: 2rem auto 0;
}

header .top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media only screen and (max-width: 800px) {
  header .top {
    flex-flow: column;
  }
}

header .top .title {
  display: inline-flex;
  flex-flow: column;
}

header .top .portrait {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  background-image: url(../img/arturo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top: solid 2px rgba(0, 0, 0, 0.15);
  border-left: solid 2px rgba(0, 0, 0, 0.15);
  border-right: solid 2px rgba(0, 0, 0, 0.75);
  border-bottom: solid 2px rgba(0, 0, 0, 0.75);
}

header h1 {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 0;
  line-height: 1em;
}

header h2 {
  color: #7c5a3d;
  font-size: 2.5rem;
  text-align: right;
  padding: 0;
  margin: -1rem 1rem 3rem;
}

header p {
  font-family: 'Courgette', cursive;
  font-size: 1.5rem;
  margin: 1rem auto;
}

.item-family {
  display: flex;
  flex-direction: column;
}

.item-family h2 {
  font-family: 'Courgette', cursive;
  font-size: 3rem;
  text-align: center;
}

.item-family .items-counter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-family .item-display {
  min-width: 300px;
  max-width: 600px;
  padding: 0 1rem 1rem;
  margin: 2.5rem 2rem;
  background-color: white;
  border-radius: 6px;
  box-shadow: 10px 10px 19px -4px black;
}

.item-family .item-display h3 {
  font-size: 1.5rem;
  color: #e4dbd2;
  background-color: #17120e;
  width: 60%;
  margin: -1rem 1rem 1rem -1.7rem;
  padding: 3px 5px;
  border-radius: 5px;
}

.item-family .item-display figure {
  float: left;
  width: 200px;
  margin: 0 1rem 0.4rem 0;
}

.item-family .item-display figure figcaption {
  font-size: .75em;
  font-weight: bold;
  font-style: italic;
}

.item-family .item-display figure img {
  width: 200px;
}

@media only screen and (max-width: 420px) {
  .item-family .item-display figure {
    float: none;
    width: 100%;
  }
  .item-family .item-display figure img {
    width: 100%;
  }
}

footer {
  font-size: 1.3rem;
  font-weight: bold;
  font-variant: small-caps;
  text-align: center;
  margin: 2rem 0;
}

footer::before {
  content: '©';
  font-size: 1.2em;
}
