@charset "UTF-8";
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #c8c0b3;
}

h1 {
  font-family: 'Courgette', cursive;
  font-size: 5rem;
  text-align: center;
}

.item-family {
  display: flex;
  flex-direction: column;
}

.item-family h2 {
  font-family: 'Courgette', cursive;
  font-size: 3rem;
  text-align: center;
}

.item-family .items-counter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-family .item-display {
  min-width: 300px;
  max-width: 600px;
  padding: 0 1rem 1rem;
  margin: 1rem;
  background-color: white;
  border-radius: 6px;
  box-shadow: 10px 10px 19px -4px black;
  border-top: solid 2px rgba(0, 0, 0, 0.15);
  border-left: solid 2px rgba(0, 0, 0, 0.15);
  border-right: solid 2px rgba(0, 0, 0, 0.75);
  border-bottom: solid 2px rgba(0, 0, 0, 0.75);
}

.item-family .item-display h3 {
  font-size: 1.5rem;
  color: #e4dbd2;
  background-color: #17120e;
  width: 60%;
  margin: -1rem 1rem 1rem -1.7rem;
  padding: 3px 5px;
  border-radius: 5px 0 0 5px;
}

.item-family .item-display figure {
  float: left;
  width: 200px;
  margin: 0 1rem 0.4rem 0;
}

.item-family .item-display figure figcaption {
  font-size: .75em;
  font-weight: bold;
  font-style: italic;
}

.item-family .item-display figure img {
  width: 200px;
}

@media only screen and (max-width: 420px) {
  .item-family .item-display figure {
    float: none;
    width: 100%;
  }
  .item-family .item-display figure img {
    width: 100%;
  }
}

footer {
  font-size: 1.3rem;
  font-weight: bold;
  font-variant: small-caps;
  text-align: center;
  margin: 2rem 0;
}

footer::before {
  content: '©';
  font-size: 1.2em;
}
